@charset "UTF-8";

/* Pesquisar Typical device Breakpoints
pequenas telas: até 600px
celulares: 600px até 768px
tablet: 768px até 992px
desktop: 992px até 1200px
grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
        margin: 10px;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}